* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact {
  width: 50%;
  margin: auto;
  background-color: #f0f5ff;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

h2 {
  color: #5d5dbd;
}

.contact-form .form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 25px;
}

.form-item input:focus,
.form-item textarea:focus {
  outline: none;
}

.form-item label {
  color: #5d5dbd;
  margin-bottom: 2px;
  font-size: 15px;
}

.form-item input,
.form-item textarea {
  border: 2px solid white;
  font-size: 16px;
  padding: 2px;
}
button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 30px;
  border-radius: 15px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}
button:hover {
  background: #fff;
  color: #115dd8;
}

.error input,
.error textarea {
  border-color: #e74c3c;
  border-radius: 4px;
}

.form-item.success input,
.form-item.success textarea {
  border-color: #2ecc71;
  border-radius: 4px;
}

small {
  font-size: 20px;
  visibility: hidden;
}

small {
  visibility: hidden;
  font-size: 15px;
  color: #e74c3c;
}

p.success {
  background-color: #2ecc71;
  width: 100%;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 3px;
}
